<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link href="~/Content/kroki.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$(".parkyeri").addClass('center');

			$(".body").fadeIn('slow');

			var i=1;
			$(".parkyeri").each(function(index, el) {
				$(this).attr({
					id:i
				});
				i=i+1;
			});

		});
    </script>
</head>
<body class="body">
    <div class="container">
        <div class="row">
            <div class="kroki col-md-12">
                <div class="col-xs-1 parkyeri">A1</div>
                <div class="col-xs-1 parkyeri">A2</div>
                <div class="col-xs-1 parkyeri">A3</div>
                <div class="col-xs-1 parkyeri">A4</div>
                <div class="col-xs-1 parkyeri">A5</div>
                <div class="col-xs-1 parkyeri">A6</div>
                <div class="col-xs-1 parkyeri">A7</div>
                <div class="col-xs-1 parkyeri">A8</div>
                <div class="col-xs-1 parkyeri">A9</div>
                <div class="col-xs-1 parkyeri">A10</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row kapilar">
            <div class="kapi col-xs-1 col-md-1">
                A
            </div>

            <div class="kapi col-xs-1 col-xs-offset-10 col-md-1">
                GİRİŞ
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-8">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row kapilar">
            <div class="kapi col-xs-1 col-md-1">
                ÇIKIŞ
            </div>

            <div class="kapi col-xs-1 col-xs-offset-10 col-md-1">
                B
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="kroki col-md-12">
                <div class="col-xs-1 parkyeri">B1</div>
                <div class="col-xs-1 parkyeri">B2</div>
                <div class="col-xs-1 parkyeri">B3</div>
                <div class="col-xs-1 parkyeri">B4</div>
                <div class="col-xs-1 parkyeri">B5</div>
                <div class="col-xs-1 parkyeri">B6</div>
                <div class="col-xs-1 parkyeri">B7</div>
                <div class="col-xs-1 parkyeri">B8</div>
                <div class="col-xs-1 parkyeri">B9</div>
                <div class="col-xs-1 parkyeri">B10</div>
            </div>
        </div>
    </div>

</body>
</html>